{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "src": "./src"
      },
      "extensions": [".js", ".jsx"]
    }],
    "transform-object-rest-spread",
    "flow-react-proptypes",
    "transform-flow-strip-types"
  ]
}

